#eval {
  position: absolute;
  font-size: 50px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
#eval .parts {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
  background: rgba(0, 128, 128, 0.3);
}
#eval .left.parts {
  box-sizing: border-box;
  padding-top: 300px;
}
#eval span {
  display: block;
  position: absolute;
  width: 1000px;
  height: 150px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  font-size: 30px
}
#eval .front, #eval .behind {
  background: rgba(0, 128, 128, 0.3);
  width: 300px;
  height: 950px;
}
#eval .left, #eval .right {
  background: rgba(16, 128, 96, 0.3);
  width: 750px;
  height: 950px;
}
#eval .top, #eval .bottom {
  background: rgba(16, 96, 128, 0.3);
  width: 300px;
  height: 750px;
}

#eval .front {
  -webkit-transform: translateZ(375px);
}
#eval .behind {
  -webkit-transform: translateZ(-375px);
}
#eval .left {
  -webkit-transform: rotatey(-90deg) translateZ(150px);
}
#eval .right {
  -webkit-transform: rotatey(90deg) translateZ(150px);
}
#eval .top {
  -webkit-transform: rotateX(90deg) translateZ(475px);
}
#eval .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(475px);
}

#eval span# {
  -webkit-transform: translateX(220px) translateY(-100px) translateZ(-150px);
}
