#small-app {
  position: absolute;
  font-size: 50px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
#small-app .parts {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
  background: rgba(128, 0, 0, 0.3);
}
#small-app span {
  display: block;
  position: absolute;
  width: 1000px;
  height: 150px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  font-size: 30px
}
#small-app .front, #small-app .behind {
  background: rgba(128, 0, 0, 0.3);
  width: 500px;
  height: 500px;
}
#small-app .left, #small-app .right {
  background: rgba(164, 28, 0, 0.3);
  width: 1000px;
  height: 500px;
}
#small-app .top, #small-app .bottom {
  background: rgba(164, 0, 28, 0.3);
  width: 500px;
  height: 1000px;
}

#small-app .front {
  -webkit-transform: translateZ(500px);
}
#small-app .behind {
  -webkit-transform: translateZ(-500px);
}
#small-app .left {
  -webkit-transform: rotatey(-90deg) translateZ(250px);
}
#small-app .right {
  -webkit-transform: rotatey(90deg) translateZ(250px);
}
#small-app .top {
  -webkit-transform: rotateX(90deg) translateZ(250px);
}
#small-app .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(250px);
}

#small-app span#wordsense-disambiguation {
  -webkit-transform: translateX(220px) translateY(-100px) translateZ(-150px);
}
#small-app span#coreference {
  -webkit-transform: translateX(350px) translateY(0px) translateZ(150px);
}
#small-app span#sentiment {
  -webkit-transform: translateX(450px) translateY(100px) translateZ(-50px);
}
#small-app span#entailment {
  -webkit-transform: translateX(250px) translateY(200px) translateZ(50px);
}