#theory {
  position: absolute;
  font-size: 50px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
#theory .parts {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
  background: rgba(128, 128, 0, 0.3);
}
#theory span {
  display: block;
  position: absolute;
  width: 1000px;
  height: 150px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  font-size: 30px
}
#theory .front, #theory .behind {
  background: rgba(128, 128, 0, 0.3);
  width: 1500px;
  height: 400px;
}
#theory .left, #theory .right {
  background: rgba(96, 128, 16, 0.3);
  width: 1000px;
  height: 400px;
}
#theory .top, #theory .bottom {
  background: rgba(128, 96, 16, 0.3);
  width: 1500px;
  height: 1000px;
}

#theory .front {
  -webkit-transform: translateZ(500px);
}
#theory .behind {
  -webkit-transform: translateZ(-500px);
}
#theory .left {
  -webkit-transform: rotatey(-90deg) translateZ(750px);
}
#theory .right {
  -webkit-transform: rotatey(90deg) translateZ(750px);
}
#theory .top {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}
#theory .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
}

#theory span# {
  -webkit-transform: translateX(220px) translateY(-100px) translateZ(-150px);
}
